<form class="flexcol" autocomplete="off">
  <div class="flexcol content">
    {{> "modules/vgmusic/templates/apps/components/playlists.hbs"}}

    <div class="help">
      <i class="fas fa-info"></i>
      <span>{{localize "VGMusic.ConfigHelp"}}</span>
    </div>
  </div>
</form>
