.vgmusic-config {
  min-width: 25rem;

  .playlist-section {
    padding: 0.5rem;

    &[data-drop-hover='true'] {
      border-color: var(--color-border-highlight-alt);
      background: var(--color-bg-highlight-alt);
    }
  }

  .playlist-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .playlist-name {
    flex: 1;
    font-weight: 500;
  }

  .placeholder {
    text-align: center;
    color: var(--color-text-light-secondary);
    font-style: italic;

    .hint {
      font-size: 0.8em;
      margin-top: 0.25rem;
    }
  }

  fieldset {
    margin-bottom: 0.5rem;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

  .sheet-footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
